*{
   margin: 0;
   border: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: 'Teko', sans-serif;
   text-decoration: none;
   list-style: none;
   
}

html {
   scroll-behavior: smooth;
   width: 100%;
}
body{
   width: 100%;
}
button {
   font-family: 'Sora', sans-serif;
   cursor: pointer;
}
a{
   cursor: pointer;
   text-decoration: none;
}