@media (max-width: 688px) {
  .nav__content {
    position: fixed;
    width: 100%;
    font-size: 24px;
    height: 76px;
    background-color: #313030;
    border-bottom: solid 1px white;
  }
  .nav__content > hr {
    width: 100%;
    color: white;
  }

  .logo_nav > img {
    margin: -40px 0px 0 -45px;
    max-width: 166px;
  }
  .nav__icons {
    display: block;
  }

  #nav.nav__icons ul {
    display: none;
  }
  #btn-menu {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    color: #ffffff;
    background: none;
    gap: 0.5rem;
  }

  #icon {
    border-top: 3px solid;
    width: 32px;
    display: block;
  }
  #icon::after,
  #icon::before {
    display: block;
    content: "";
    width: 32px;
    height: 4px;
    margin-top: 13.5px;
    background-color: currentColor;
    transition: 0.3s;
    position: relative;
  }
  .nav__icons.active #icon {
    border-top-color: transparent;
  }
  .nav__icons.active #icon::before {
    transform: rotate(135deg);
  }
  .nav__icons.active #icon::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .home__content {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home__content > div {
    color: #ffffff;
    border: 5px;
    max-width: 386px;
    text-align: center;
  }
  .home__content > div > h2 {
    color: #ffffff;
    font-size: 36px;
    padding: 20px;
  }
  .home__content > div > p {
    font-size: 24px;
    margin: 4px;
    color: #ffffff;
  }

  #nav.nav__icons.active ul {
    display: block;
    position: relative;
    margin-left: -125px;
    margin-right: 0px;
    margin-top: -15px;
    background-color: #181818;
  }
  #nav #btn-menu {
    margin-top: 10px;
  }

  section {
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #6d6a6a;
    max-width: 424px;
    text-align: justify;
  }
  .content {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .description__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 0px;
  }
  .logo__about img span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description__about {
    text-align: center;
    margin: 25px;
    margin-bottom: 45px;
  }
  .logo {
    margin: -45px -45px -120px -45px;
    max-width: 388px;
  }
  .funcionamento_content {
    display: flex;
    flex-direction: column;
  }
  .image__funcionamento {
    max-width: 100%;
    min-height: 547px;
  }

  .funcionamento__description {
    max-width: 100%;
  }
  .content__funcionam{
    margin: 10px;
  }
}
