.bg__home {
  background-image: url("../assets/about_img.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
}

.nav__content {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo_nav {
  margin: 10px;
  margin-top: 0px;
}
.logo_nav > img {
  width: 168px;
}

.nav__icons > ul {
  display: flex;
  flex-direction: row;
  margin-right: 23px;
}

.nav__icons > ul > li {
  padding-top: 30px;
  padding-left: 20px;
  margin: 25px;
}
#btn-menu {
  display: none;
}

.home__content {
  color: black;
  display: flex;
  justify-content: center;
}

.home__content > div {
  color: black;
  background-color: rgba(36, 36, 36, 0.418);
  border-radius: 1rem;
  max-width: 480px;
  text-align: center;
}
.home__content > div > h2 {
  color: black;
  font-size: 48px;
  padding: 20px;
}
.home__content > div > p {
  font-size: 18px;
  color: black;
}
#nav.nav__icons ul li a {
  font-weight: bold;
  color: #ffffff;
}

.about__content {
  background: rgb(22, 21, 21);
  background: linear-gradient(
    145deg,
    rgba(22, 21, 21, 1) 47%,
    rgba(0, 0, 0, 1) 100%,
    rgba(255, 255, 255, 1) 100%,
    rgba(255, 0, 0, 0.8463760504201681) 100%
  );
}
section {
  justify-content: center;
  align-items: center;
  color: #6d6a6a;
  width: 434px;
  text-align: justify;
  margin: auto;
}
.content {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 63px;
  color: #ffffff;
  margin-bottom: 30px;
}
.logo__about img span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description__about {
  text-align: center;
  margin: 25px;
}
.logo {
  margin-left: 55px;
  margin-top: 20px;
}
.animate__description {
  font-size: 22vw;
  animation-duration: 112s;
  color: rgba(255, 255, 255, 0.1);
  line-height: 1.2;
  display: inline-block;
  white-space: nowrap;
  animation: animatedText 16s linear 0s infinite;
  perspective: 1000px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

footer{
  font-family: sans-serif;
  font-size: 16px;
  background-color: #000000;
  color: #FFF;
  height: 116px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto; 
}

footer > span {
  margin: auto;
}