.bg__home {
  background-image: url("../assets/about_img.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

.nav__content {
  position: relative;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo_nav {
  margin: 10px;
  margin-top: 0px;
}
.logo_nav > img {
  width: 168px;
}

.nav__icons > ul {
  display: flex;
  flex-direction: row;
  margin-right: 23px;
}

.nav__icons > ul > li {
  padding-top: 30px;
  padding-left: 20px;
  margin: 25px;
}
#btn-menu {
  display: none;
}

.home__content {
  height: 768px;
  color: black;
  display: flex;
  justify-content: center;
}

.home__content > div {
  margin: auto;
  color: black;
  max-width: 100%;
  text-align: center;
}
.home__content > div > h2 {
  color: black;
  font-size: 48px;
  padding: 20px;
}
.home__content > div > p {
  font-size: 18px;
  color: black;
}
#nav.nav__icons ul li a {
  font-weight: bold;
  color: #ffffff;
}

.about__content {
  background: rgb(22, 21, 21);
  background: linear-gradient(
    145deg,
    rgba(22, 21, 21, 1) 47%,
    rgba(0, 0, 0, 1) 100%,
    rgba(255, 255, 255, 1) 100%,
    rgba(255, 0, 0, 0.8463760504201681) 100%
  );
  min-height: 512px;
}
section {
  justify-content: center;
  align-items: center;
  color: #6d6a6a;
  width: 434px;
  text-align: justify;
  margin: auto;
}
.content {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 63px;
  color: #ffffff;
}
.logo__about img span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description__about {
  text-align: center;
}
.logo {
  margin: -40px -40px -120px -40px;
  max-width: 360px;
}

footer {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #000000;
  color: #fff;
  height: 116px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

footer > span {
  margin: auto;
}
.funcionamento_content {
  display: flex;
  flex-direction: row;
}
.image__funcionamento {
  background-image: url(../assets/funcionamento-web-true.jpg);
  background-size: cover;
  background-position: center;
  width: 689px;
  height: 547px;
  margin: 0;
}

.funcionamento__description {
  width: 668px;
  color: #ffffff;
  background: rgb(9, 9, 9);
  background: -moz-linear-gradient(
    145deg,
    rgba(9, 9, 9, 1) 82%,
    rgba(33, 32, 32, 1) 96%
  );
  background: -webkit-linear-gradient(
    145deg,
    rgba(9, 9, 9, 1) 82%,
    rgba(33, 32, 32, 1) 96%
  );
  background: linear-gradient(
    145deg,
    rgba(9, 9, 9, 1) 82%,
    rgba(33, 32, 32, 1) 96%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#090909",endColorstr="#212020",GradientType=1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__funcionam {
  margin: 0;
  text-align: center;
}

.content__funcionam > h2 {
  font-size: 36px;
  margin: 25px 0 30px 0;
  text-align: center;
}
.content__funcionam > span {
  margin: 15px 0 10px 0;
  color: #6d6a6a;
}

.card__funcionamento {
  font-size: 17px;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
  border-bottom: solid 1px #6d6a6a;
}

.hours {
  color: #9e8462;
}
.card__funcionamento_ {
  font-size: 17px;
  margin-top: 35px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.services__conteiner {
  background-image: url(../assets/price-bg-min.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  margin: 0;
}
.services__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 29.6px;
  color: #ffffff;
}
.services__content h2 {
  padding-bottom: 18px;
  text-align: center;
}

.services__content img {
  max-width: 100%;
  margin: 20px;
  padding: 5px;
}

.subContent__services {
  font-size: 19px;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.content__right {
  margin: 35px;
}
.content__left {
  margin: 35px;
}

.content__card {
  display: flex;
  flex-direction: column;
}
.section {
  max-width: 358px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price {
  font-size: 21px;
  color: #9e8462;
}

.descrip {
  width: 100%;
  margin: 20px;
  margin-top: 0px;
  margin-left: 0;
  font-size: 16px;
  color: #6d6a6a;
  padding-bottom: 26.6px;
  border-bottom: #6d6a6a solid 1px;
}

.img__horarios {
  background-image: url(../assets/agende-seu-horari-web.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 447px;
  margin: 0;
}

.horario {
  background-color: #0f0f0f;
  color: #ffffff;
  display: flex;
  flex-direction: row;
}

.horario__content {
  width: 443px;
  display: flex;
  margin: 40px;
  margin-left: 10px;
  flex-direction: column;
  justify-content: center;
}

.title__horario h2 {
  font-size: 46px;
  margin: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.tel__contact {
  margin: 10px;
  margin-top: 0px;
}

.tel__contact p {
  color: #6d6a6a;
}

.tel__contact h3 {
  font-size: 28px;
}

a {
  text-decoration: none;
  color: #fff;
}

.content__contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #0f0f0f;
  color: #ffffff;
}

.title-contact h5 {
  font-size: 78px;
  margin: 20px;
  color: #b5b5b5;
}
.localization__content {
  margin: 30px;
}

.content_fale-conosco h2 {
  font-size: 42px;
  margin: 20px 4px;
  padding-top: 70px;
  padding-bottom: 30px;
}
.content_fale-conosco span strong {
  margin: 20px 4px;
  margin-bottom: 30px;
}

.local {
  margin: 20px 4px;
}
.local p {
  margin: 10px 0px;
}
.title__agendamento h2{
  font-size: 48px;
  margin: 10px;
}

.agendamento__link{
  font-size: large;
  margin: 10px;
  margin-top: 0;
 
}
